.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
}

.back {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--color-background-900);
  border: none;
  width: 25px;
  aspect-ratio: 1 / 1;
  color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
}

.info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  column-gap: 25px;
  background-color: var(--color-background-100);
  border-radius: 5px;
}

.poster {
  width: 100%;
  grid-area: span 4;
  border-radius: 5px;
}

.title {
  font-size: 24px;
}

.description {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--color-background-100);
}

.add {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  padding: 15px 30px;
  border-radius: 25px;

  &:hover {
    background-color: var(--color-primary-light);
  }
}
